{% block content %}
    {% load widget_tweaks %}

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/pages/signup.scss"/>
    <link rel="stylesheet" type="text/css" href="/static/helpers/_utilities.scss"/>

    <div class="signup-wrapper">
        <div class="signup col-md-4 col-md-offset-4">
            <div class="signup__logo text-center m-t-2">
                <img src="/static/sop_logo_150.png">
            </div>
            <div class="col-md-12">
                <form method="post">
                    {% csrf_token %}
                    <h3 class="text-center m-b-2"><strong class="login-title">Try out State of Place</strong></h3>
                    {% with WIDGET_REQUIRED_CLASS='form-control' %}
                        {% if confirm %}
                            {% if resent %}
                                Confirmation resent.
                            {% endif %}
                            <h4>Please confirm your email address to complete the registration</h4>
                            {{ form.username }}
                            <div class="form-group text-right text-center">
                                <button type="submit" class="btn btn-sop-submit m-t-1">RESEND CONFIRMATION</button>
                            </div>
                        {% else %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label_tag }}<br>
                                    {% render_field field %}
                                    {% if field.help_text %}
                                        <small style="display: none">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <div class="form-group text-right text-center">
                                <button type="submit" class="btn btn-sop-submit m-t-1">SIGNUP</button>
                            </div>
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}