<link rel="stylesheet" type="text/css"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<div style="height: 100%; display: flex; justify-content: center; align-content: center; flex-direction: column;">
    <div style="padding: 1em; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
        <div style="padding: 10px; text-align: center; width:100px; height: 100px; margin: auto">
            <img style="max-width:100%; max-height:100%;" src="{{ scheme }}://{{ domain }}/static/sop_logo_150.png">
        </div>
        <div style="position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;">
            Hi <b>{{ user.username }}</b>, thanks for your interest in State of Place!
            <br><br>
            Please click
            <a href="{{ scheme }}://{{ domain }}{{ url }}">here</a>.
             to confirm your registration by clicking
        </div>
    </div>
</div>
